[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invenio-app-rdm = "*"
pytest = "*"
pytest-invenio = "*"
invenio-search = "*"
opensearch = "*"
opensearch-dsl = "*"
invenio-utilities-tuw = "*"
invenio-queues = "*"
invenio-remote-user-data = {editable = true, path = "."}
requests-mock = "*"

[dev-packages]

[requires]
python_version = "3.9"
