[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invenio-app-rdm = "~=12.0.0b3.dev3"
pytest = "*"
pytest-invenio = "*"
invenio-search = "*"
opensearch-dsl = "*"
invenio-utilities-tuw = "*"
invenio-queues = "*"
invenio-remote-user-data = {editable = true, path = "."}
requests-mock = "*"
deepdiff = "*"
celery = "*"
invenio-groups = {file = "../invenio-groups", editable = true}

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
